<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home" style="font-family: 'Prompt', sans-serif;">
                <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <strong> Kanban</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/todo">Board</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/summary">Summary</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container bg-light p-3 my-3">
        <h3 style="font-family: 'Prompt', sans-serif;"><strong>Sign In</strong></h3>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <hr>
        <div class="text-danger">
        {% from "security/_macros.html" import render_field_with_errors, render_field %}
        {% include "security/_messages.html" %}
        </div>
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        <div class="px-5">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email, class="form-control") }}
                {{ render_field_with_errors(login_user_form.password, class="form-control") }}
                {{ render_field_with_errors(login_user_form.remember) }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit,class="btn btn-success") }}
                <small class="form-text text-muted">Don't have an account? Click <a href="/register">here</a> to signup.</small>
            </form>

        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>