<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <title>Board</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home" style="font-family: 'Prompt', sans-serif;">
            <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <strong> Kanban</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/board">Board<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/summary">Summary</a>
                </li>
            </ul>
            {% include 'log.html' %}
        </div>
    </nav>

    <div class="alert-info py-2">
        <div class="d-flex my-2 my-lg-0 justify-content-center align-items-center">
            <h5>Add <strong style="font-family: 'Prompt', sans-serif;">ToDo</strong> List</h5>

            <a class="btn  my-2 my-sm-0  " data-toggle="modal" data-target="#listCreateModal" type="submit">
                <h1 class="bi-plus-circle-fill text-success"></h1>
            </a>
            <!-- list Create Modal -->
            <div class="modal fade" id="listCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Prompt', sans-serif;">
                                <strong>ToDo</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-3" method="post" action="/create_list">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="list_name">Name</label>
                                    <input type="text" class="form-control" id="list_name" aria-describedby="emailHelp"
                                        name="list_name" required>

                                </div>
                                <div class="form-group">
                                    <label for="list_desc">Description</label>
                                    <textarea class="form-control" id="list_desc" rows="3" name="list_desc"></textarea>
                                    <small class="form-text text-muted">Describe your motivation behind the ToDo
                                        list.</small>
                                </div>
                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if show %}
    <div class="alert {{alert_color}} alert-dismissible fade show " role="alert" style="margin-bottom: 0rem;">
        <strong>{{alert_condition}}!</strong> {{alert_message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="container-fluid " style="background-color: #feffed;">
        <div class="row ">
            {% if lists|length > 0 %}
            {% for list in lists %}
            <div class="col-lg-4 col-sm-6 col-md-6  p-3">
                <div class="justify-content-center justify-item-center border list border px-3 rounded-lg" style="background-color:  #ffd9b8;">
                    <div class="d-flex  justify-content-center py-3 ">
                        <i class="bi bi-pin-angle-fill text-info"></i>&nbsp;
                        <h4 class="text-dark"><strong style="font-family: 'Prompt', sans-serif;">{{
                                list['list_name']}}</strong></h4>
                    </div>
                    <div class="d-flex  justify-content-center px-3">
                        <p class="text-muted">{{ list['list_desc'] }}</p>
                    </div>
                    <div class="d-flex  justify-content-center">
                        <a href="" class=" text-danger" data-toggle="modal"
                            data-target="#listDeleteModal_{{list['list_id']}}">
                            <h5 class=" bi-trash-fill"></h5>
                        </a>&nbsp;&nbsp;
                        <a href="" class=" text-success" data-toggle="modal"
                            data-target="#listUpdateModal_{{list['list_id']}}">
                            <h5 class="bi-pencil-square"></h5>
                        </a>&nbsp;&nbsp;
                        <a href="" class=" text-dark" data-toggle="modal" data-target="#createCard_{{list['list_id']}}">
                            <h5 class="bi-file-earmark-plus-fill"></h5>
                        </a>
                    </div>

                    <!-- list Update Modal -->
                    <div class="modal fade" id="listUpdateModal_{{list['list_id']}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"
                                        style="font-family: 'Prompt', sans-serif;">
                                        <strong>ToDo</strong>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form class="px-3" method="post" action="/update_list">
                                    <div class="modal-body">
                                        <input type="hidden" value="{{list['list_id']}}" name="list_id">
                                        <!-- <input type="hidden" value="{{list['list_name']}}" name="list_name"> -->
                                        <div class="form-group">
                                            <label for="list_name">Name</label>
                                            <input type="text" class="form-control" id="list_name"
                                                aria-describedby="emailHelp" value="{{list['list_name']}}"
                                                name="update_list_name">

                                        </div>
                                        <!-- <h1>"listUpdateModal_{{list['list_name']}}"</h1> -->
                                        <div class="form-group">
                                            <label for="list_desc">Description</label>
                                            <textarea class="form-control" id="list_desc" rows="3"
                                                name="update_list_desc">{{list['list_desc']}}</textarea>
                                            <small class="form-text text-muted">Describe your motivation behind the ToDo
                                                list.</small>
                                        </div>
                                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- list Delete Modal -->
                    <div class="modal fade" id="listDeleteModal_{{list['list_id']}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="exampleModalLabel"
                                        style="font-family: 'Prompt', sans-serif;"><strong>Remove List </strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to remove <strong>{{list['list_name']}}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <form action="/delete_list" method="post">
                                        <input type="hidden" name="list_id" value="{{list['list_id']}}">
                                        <button type="button" class="btn btn-outline-success"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card Create Modal -->
                    <div class="modal fade" id="createCard_{{list['list_id']}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalCenterTitle"><strong
                                            style="font-family: 'Prompt', sans-serif;">Add Card</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/create_card">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="cardTitle">Title</label>
                                                <input type="text" class="form-control" id="cardTitle" required
                                                    name="card_title">
                                            </div>
                                            <div class="form-group">
                                                <label for="cardDesc">Description</label>
                                                <textarea class="form-control" id="cardDesc" rows="3"
                                                    name="card_content"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="selectList">Select List</label>
                                                <select class="form-control" id="selectList" name="card_list" required>
                                                    <option>{{ list['list_name'] }}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="deadline">Deadline</label>
                                                <input type="datetime-local" id="deadline" class="form-control"
                                                    placeholder="Select Deadline" required value=""
                                                    name="card_deadline">
                                                <small id="descHelp" class="form-text text-muted">Try to complete the
                                                    task
                                                    before deadline.</small>
                                            </div>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="done"
                                                    value="off" name="card_completed">
                                                <label class="custom-control-label" for="done">Completed</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success"> Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- CARD -->
                    {% if list['cards']|length > 0 %}
                    {% for card in list['cards'] %}
                    <div class="card bg-light mb-3 rounded-sm">
                        <div class="card-header  in-line border-secondary">
                            <!-- done_chek= bi-star-fill text-success -->
                            <h5>
                                {%if card['completed'] %}
                                <i class="bi bi-star-fill text-success"></i>
                                {% endif %}
                                &nbsp;<strong class="text-dark">{{card['title']}}</strong>
                            </h5>
                        </div>
                        <div class="card-body justify-item-center">
                            <p class="card-text text-primary"><small class="">{{card['deadline']}}</small></p>
                            <!-- <h5 class="card-title"></h5> -->
                            <p class="card-text text-muted">{{card['content']}}</p>
                            <form action="/delete" method="post" class="inline">
                                <a href="" class="bi-trash3 text-danger" type="" data-toggle="modal"
                                    data-target="#cardDeleteModal_{{card['card_id']}}"></a>
                                <a href="" class="bi-pencil-square text-success" data-toggle="modal"
                                    data-target="#cardUpdateModal_{{card['card_id']}}"></a>
                            </form>
                        </div>
                    </div>

                    <!-- card Delete Modal -->
                    <div class="modal fade" id="cardDeleteModal_{{card['card_id']}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="exampleModalLabel"
                                        style="font-family: 'Prompt', sans-serif;"><strong>Remove Card</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to remove <strong>{{card['title']}}</strong> from
                                    <strong>{{list['list_name']}}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <form action="/delete_card" method="post">
                                        <input type="hidden" name="list_id" value="{{list['list_id']}}">
                                        <input type="hidden" name="card_id" value="{{card['card_id']}}">
                                        <button type="button" class="btn btn-outline-success"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- card Update Modal -->
                    <div class="modal fade" id="cardUpdateModal_{{card['card_id']}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalCenterTitle"><strong
                                            style="font-family: 'Prompt', sans-serif;">Edit Card Details</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/update_card">
                                        <div class="modal-body">
                                            <input type="hidden" value="{{card['card_id']}}" name="card_id">
                                            <div class="form-group">
                                                <label for="cardTitle">Title</label>
                                                <input type="text" class="form-control" id="cardTitle" required
                                                    value="{{card['title']}}" name="update_title">
                                            </div>
                                            <div class="form-group">
                                                <label for="cardDesc">Description</label>
                                                <textarea class="form-control" id="cardDesc" rows="3"
                                                    name="update_content">{{card['content']}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="selectList">Select List</label>
                                                <select class="form-control" id="selectList" name="update_list"
                                                    required>
                                                    {% for list in lists %}
                                                    <option>{{ list['list_name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                                <small class=" bi-dot text-danger">Select the list carefully.</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="deadline">Deadline</label>
                                                <input type="datetime-local" id="deadline" class="form-control"
                                                    placeholder="Select Deadline" name="update_deadline" required
                                                    value="{{card['deadline']}}">
                                                <small id="descHelp" class="form-text text-muted">Try to complete the
                                                    task
                                                    before deadline.</small>
                                            </div>
                                            {%if card['completed']==1 %}
                                            <input type="checkbox" class="" id="update_done" name="update_completed"
                                                name="update_completed" checked>
                                            {% else %}
                                            <input type="checkbox" class="" id="update_done" name="update_completed"
                                                name="update_completed">
                                            {% endif %}
                                            <label class="" for="update_done">Completed</label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success"> Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% if current_user.is_authenticated %}
            <h2 class="bi-emoji-frown text-danger p-3"><span class="text-secondary"><strong class="text-dark">
                        Oops,</strong> No list added yet!!</span></h2>
            {%else%}
            <h2 class="bi-emoji-smile text-success p-3"><span class="text-secondary"><strong class="text-dark">
                        SignIn</strong> to add lists!!</span></h2>
            {% endif %}
            {% endif %}
        </div>
        <small class="text-muted"><i class="bi bi-star-fill text-success"></i>: completed</small>&nbsp;
        <small class="text-muted"><i class="bi bi-trash-fill text-danger"></i>: delete</small>&nbsp;
        <small class="text-muted"><i class="bi bi-file-earmark-plus-fill text-dark"></i>: add card</small>&nbsp;
        <small class="text-muted"><i class="bi bi-pencil-square text-success"></i>: edit</small>
    </div>



    
    {% include 'footer.html' %}
</body>

</html>