<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home" style="font-family: 'Prompt', sans-serif;">
            <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <strong> Kanban</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todo">Board</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/summary">Summary<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% include 'log.html' %}
        </div>
    </nav>

    <div class="container-fluid bg-warning">
        <h1>Summary</h1>
        <div class="row">
            <h2>row1</h2>
        </div>
        <div class="row border p-3">
            <h2>row1</h2>
        </div>
        <div class="row border">
            <h2>row1</h2>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>