<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <style>$enable-gradients:true</style> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap" rel="stylesheet">

    <title>Kanban</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="font-family: 'Prompt', sans-serif;">
            <img src="../static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <strong> Kanban</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">ToDo<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Summary</a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0 " type="button" data-toggle="modal"
                data-target="#signInForm">SignIn</button>
            <button class="btn btn-outline-danger my-2 my-sm-0 mx-2" type="button">SignUp</button>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="signInForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle" style="font-family: 'Prompt', sans-serif;">
                        <strong>Enter Details</strong>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class=" p-3">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="alert-info py-2">
        <div class="d-flex my-2 my-lg-0 justify-content-center align-items-center">
            <h5>Add <strong style="font-family: 'Prompt', sans-serif;">ToDo</strong> List</h5>
           
            <a class="btn  my-2 my-sm-0  " data-toggle="modal"
                data-target="#listModal" type="submit"><h1 class="bi-plus-circle-fill text-success"></h1></a>
            <!-- Modal -->
            <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Prompt', sans-serif;">
                                <strong>ToDo</strong>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="px-3">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="list_name">Name</label>
                                    <input type="text" class="form-control" id="list_name" aria-describedby="emailHelp">

                                </div>
                                <div class="form-group">
                                    <label for="list_content">Description</label>
                                    <textarea class="form-control" id="list_content" rows="3"></textarea>
                                    <small class="form-text text-muted">Describe your motivation behind the ToDo
                                        list.</small>
                                </div>
                                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6  p-3">
                <div class="container  justify-content-center justify-item-center bg-light border list border-secondary">
                    <div class="d-flex  justify-content-center py-2 ">
                        <i class="bi bi-pin-angle-fill text-info"></i>&nbsp;
                        <h4 class="text-dark"><strong style="font-family: 'Prompt', sans-serif;">Name</strong></h4>
                    </div>
                    <div class="d-flex  justify-content-center">
                        <a href="" class="bi-trash-fill text-danger"></a>&nbsp;&nbsp;
                        <a href="" class="bi-pencil-square text-success" data-toggle="modal"
                            data-target="#listModal"></a>&nbsp;&nbsp;
                        <a href="" class="bi-file-earmark-plus-fill text-dark" data-toggle="modal"
                            data-target="#card"></a>
                    </div>
                    <hr>
                    <div class="card bg-light mb-3 ">
                        <div class="card-header in-line border-secondary">
                            <h5><strong>Card Name</strong></h5>
                        </div>
                        <div class="card-body justify-item-center">
                            <p class="card-text text-primary"><small class="">12/07/2022 12:21</small></p>
                            <!-- <h5 class="card-title"></h5> -->
                            <p class="card-text text-muted">Card Body will be here Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Hic officiis pariatur possimus distinctio minima! Ad
                                adipisci, quod pariatur quos quam dolorem dolore ipsum eligendi impedit minima tempore
                                sed iusto. Architecto!</p>
                            <a href="" class="bi-trash3 text-danger"></a>
                            <a href="" class="bi-pencil-square text-success"></a>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="card" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalCenterTitle"><strong
                                        style="font-family: 'Prompt', sans-serif;">Card</strong></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="cardTitle">Title</label>
                                            <input type="text" class="form-control" id="cardTitle" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardDesc">Description</label>
                                            <textarea class="form-control" id="cardDesc" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="selectList">Select List</label>
                                            <select class="form-control" id="selectList" required>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="deadline">Deadline</label>
                                            <input type="datetime-local" id="deadline" class="form-control"
                                                placeholder="Select Deadline" required>
                                            <small id="descHelp" class="form-text text-muted">Try to complete the task
                                                before deadline.</small>
                                        </div>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">Completed</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-danger"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn bi-star btn-success"> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="d-flex flex-wrap justify-content-between  py-3  border-top bg-light ">
        <p class="col-md-4 mb-0 text-muted"> &copy; 2022 Kanban, All rights reserved</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
    <script>flatpickr("input[type=datetime-local]", {});</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>